[submodule "content/posts"]
	path = content/post
	url = https://github.com/envp/blog.git
[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
