/* Load custom fonts */
@import url('https://fontlibrary.org/face/cmu-bright');
@import url('https://fontlibrary.org/face/cmu-concrete');
@import url('https://fontlibrary.org/face/cmu-serif');
@import url('https://fontlibrary.org/face/fantasque-sans-mono');


/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


h1,
h2,
h3,
h4 {
  font-family: FantasqueSansMonoBold;
}

html {
  font-family: CMUBrightRoman;
}

blockquote {
  padding-left: 1em;
  border-left-style: double;
}

blockquote > p {
  font-family: Nunito;
  font-weight: 200;
  font-style: italic;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: 'Roboto Mono';
  font-size: calc(11em/12);
  font-variant-liguratures: off;
}

.katex {
  /* This */
  font: normal 1.21em 'CMU Concrete'!important;
}

p {
  text-align: justify;
}
