pre {
    box-shadow: unset;
    font-size: unset;
}

#TableOfContents, #TOC {
  border: 1px solid #eee;
  border-radius: 5px;
}

.menu li:after {
    content: " ";
    white-space: pre;
}

.article-meta h1 {
    font-size: 1.8em;
}

.article-meta h2 {
    font-size: 1.2em;
}
