.header__logo {
  font-size: 1.2rem;
}

.header__logo::after {
  background: repeating-linear-gradient(
    90deg,#FF6266,#FF6266 2px,transparent 0,transparent 10px);
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  line-height: 2;
}

code {
  font-family: 'Roboto Mono', monospace;
}

/* Slightly smaller headings, was 1.4rem */
h1, h2, h3 {
  font-size: 1.2rem;
}

/* Structural overrides if the viewport is screen and at-least 800px wide */
@media only screen and (min-width: 800px) {
  body {
    max-width: 80%;
    margin: 0 auto;
  }
  /* Make childern of .post.on-list appear on the sam line */
  .post.on-list {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
  }

  .post.on-list > h1,
  .post.on-list > .post-meta {
    display: inline-block;
  }

  .post-meta {
    text-align: right;
  }

  .posts {
    width: 100%;
    padding: 40px
  }

  .post {
    padding: 10px 0;
    margin: 10px auto;
  }
}

.footer__inner {
  width: auto;
}

.footer .copyright--user {
  margin: 0;
}

/* Color the previous (red) and next(green) buttons */
span.button.previous > a {
  background: #FF6266;
}

span.button.next > a{
  background: var(--accent);
  color: black;
}

/* But invert this coloring for /posts/* (next is red, prev is green)  */
span.button.previous > a[href^="/page/"],
span.button.previous > a[href="/"],
span.button.previous > a[href^="/posts/page/"],
span.button.previous > a[href="/posts/"] {
  background: var(--accent);
  color: black;
}

span.button.next > a[href^="/page/"],
span.button.next > a[href^="/posts/page/"] {
  background: #FF6266;
}
